<div class="container">
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-2">
	  <h3>DMした人一覧</h3>
	  <table class="table table-striped">
		<tbody>
		  <% @anotherEntries.each do |e| %>
			<tr>
			  <th>
				<%= link_to dm_room_path(e.dm_room.id) do %>
				<%= attachment_image_tag e.enduser, 
				:profile_image, :fill, 100, 100, fallback: "no_image.jpg" %><br>
				<%= e.enduser.nickname %>さんとDMする<br>
			  </th>
			</tr>
		    <% end %>
		  <% end %>
		</tbody>
	</table>
	<%= paginate @anotherEntries, class: "paginate" %>
    </div>
    <div class="col-xs-4"></div>
  </div>
</div>

