<h2>大阪GAMESNSの使い方</h2>
<br>
	<p>1,当サイトは大阪近辺に在住のゲーマーによるSNSです</p>

	<p>2,ログインしていない状態では、全てのユーザーの投稿とコメントの観覧が出来ます。

	<p>3,新規登録、もしくはログインをすると投稿、コメント、DM、自分のお気に入りゲーム登録などの機能を使えるようになります。</p>
	<br>

	<p>4,ログイン後、マイページ編集ページでお気に入りのゲームタグを登録すると、<br>自分が登録したゲームタグと同じゲームタグを持っている人が投稿に表示される為、<br>自分とゲーム趣味が近い人と交流しやすくなっています。</p>