<div class="container">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <div class="about-box">
        <h2>大阪GAMESNSの使い方</h2>
	      <br>
	      <br>
	    <p>1,当サイトは大阪近辺に在住のゲーマーによるSNSです</p>
          <br>
	    <p>2,ログインしていない状態では、全ユーザー投稿 & コメントの観覧のみ出来ます。</p>
          <br>
	    <p>3,新規登録、もしくはログインをすると投稿、コメント、DM、自分のお気に入りゲーム登録など<br>
	    の機能を使えるようになります。</p>
		  <br>

	    <p>4,ログイン後、マイページ編集ページでお気に入りのゲームタグを登録すると、
	  	  <br>
	  	  登録したゲームタグと同じゲームタグを持っている人が投稿に表示されます。
	  	</p>
	  	  <br><br>

	    <p>5,DM機能はユーザーの詳細ページからDMボタンを押す事で利用する事が出来ます。</p>
	  </div>
	</div>
  </div>
</div>