<div class="container">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <div class="about-box">
        <h2>GAMESNSの使い方</h2>
	      <br>
	      <br>
	    <p>1,当サイトはゲーマー専用のSNSです</p>
          <br>
	    <p>2,ログインしていない状態では、全ユーザー投稿 & コメント観覧のみ出来ます。</p>
          <br>
	    <p>3,新規登録、もしくはログインをすると投稿、コメント、DM、自分のお気に入りゲーム登録など<br>
	    の機能を使えるようになります。</p>
		  <br>

	    <p>4,ログイン後、マイページ編集でゲームタグを登録すると、
	  	  <br>
	  	  同じゲームタグを持っているユーザー同士の投稿がホーム画面に表示されます。<br>
	  	  更に、在住が同じユーザー同士で投稿が表示されるようになっています。<br>
	  	  <b>これによって、趣味と在住が同じゲーマー同士が<br>交流出来る為、オフ会に誘うハードルが他SNSと比べ、非常に低くなっています。</b>
	  	</p>
	  	  <br><br>

	    <p>5,DM機能はユーザーの詳細ページからDMボタンを押す事で利用する事が出来ます。</p>
	      <br>
	  </div>
	</div>
  </div>
</div>