<body class="top-body">
  <div class="background">
    <h2 style="margin-top: 0;">GAMESNSへようこそ！</h2>
      <br><br>
    <h3 class="top-line">このSNSはゲーマー専用のSNSサイトです。</h3>

    <h4>在住が近い同士で交流出来るシステムがあるからオフ会がしやすい！
      <br><br>
    オフでプレイする仲間を作りたい方、ピンッ来た人も是非始めてみよう！</h4>

    <button type="button" class="btn btn-info active">
      <%= link_to '>>GAMESNSを始める', 'post/new',:style=>"color:white;" %>
    </button>

  </div>

</body>
