<home-body>
  <div class="background">
    <h2 style="margin-top: 0;">大阪GAMESNSへようこそ！</h2>
    <br><br>
    <h3>このSNSは大阪ゲーマー専用SNSです。</h3>
      <br><br><br><br><br><br>
    <h4>在住が近いからオフ会がしやすい！
      <br><br>
    オフでプレイする仲間を作りたい方、ピンッ来た人も是非始めてみよう！</h4>
      <br><br><br>

    <button type="button" class="btn btn-info active">
      <%= link_to '>>大阪GAMESNSを始める', 'post/new',:style=>"color:white;" %>
    </button>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>

</home-body>
