<h1>大阪GAMESNSへようこそ！</h1>
<br>
<br>
<br>

<h3>このSNSは大阪ゲーマー専用SNSです。</h3>
<br>
<br>
<p>ゲーマー同士がオフでオフで気軽にゲームをプレイ出来るようなSNSを作りたいと思い立ち上げました。
  <br><br>
オフで交流したい方は是非！この大阪GAMESNSを利用してみてください。</p>
<br>
<br>
<br>

<%= link_to '大阪GAMESNSを始める', 'post/new' %>
