/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";

 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }


// --------header部分----------

.log {
	color: gray;
}

header {
    background-color: black;
}


.header-list {
  width: 100px;
  display: inline-block;
  padding-top: 40px;
}

.enduser-header-list {
  width: 150px;
  display: inline-block;
  padding-top: 40px;
}

.enduser-header-list:last-child {
	padding-left: 30px;
}


h2 {
  padding-top: 10px;
}


//------heaer部分終了------





body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
}




// ---------footer部分---------

footer {
  height: 30px;
  width: 100%;
  background-color: black;
  color: white;

}






