// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//トップページ


.top-body {
	text-align: center;
	min-height: 100vh;
}

.background {
    background-size: cover;
	background-image: url('/game.jpg');
	height: 100vh;
	background-color: red;
}



.top-line {
	padding-bottom: 10%;
}



h4 {
	padding-bottom: 5%;
}


//aboutページ


.about-box {
	border: 10px  solid;
	border-color: #888888;
	background-color: #f8f8f8;
	margin-top: 30px;
	text-align: center;
}

