<h1>Enduser#show</h1>
<p>Find me in app/views/enduser/show.html.erb</p>

<p>メールアドレス</p>
<%= @enduser.email %>


<% if @enduser.id == current_enduser.id %>
  <%= link_to "プロフィール編集", edit_enduser_path(@enduser) %>
<% end %>